#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.auth-container {
  max-width: 320px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.auth-container input {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}

button {
  padding: 8px 16px;
  margin-top: 8px;
}

.todo-container {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.has-task {
  background-color: #90ee90 !important; /* màu xanh nhạt */
  border-radius: 50% !important;
  color: black !important;
  font-weight: bold;
}
